<!-- Create keyword Popup -->
<div class="popup-content hidden-popup" id="create-keyword-popup">
    <button class="close-popup">&times;</button>
    <br>
    <h6>Create a new keyword</h6>
    <br>

    <form id="create-popup-form" table="keywords">
        <label for="name">Keyword Name:</label>
        <input type="text" id="name" name="name" required /><br>

        <label for="keytype">Keytype:</label>
        <select id="keytype" name="keytype" class="dropdown-input keytypes-dropdown" required></select>
        <br>
        <button type="submit" class="btn btn-primary">Create</button>
    </form>
</div>

<!-- Keyword detail Popup -->
<div class="popup-content hidden-popup" id="keyword-detail-popup">
    <button class="close-popup">&times;</button>
    <br>
    <h6 class="item-type"><span id="item-type-metadata"></span></h6>
    <br>
    <h1><span id="name-metadata"></span></h1>

    <form id="popup-form">
        <div id="document-metadata">
            <p><strong>ID:</strong> <span id="id-metadata" name="id"></span></p>
            <p><strong>Create Date:</strong> <span id="createdate-metadata" name="createdate"></span></p>
            <p><strong>Description:</strong> <br>
                <textarea id="description-metadata" name="description" style="background-color: #d3d3d3;" readonly></textarea></p>
        </div>

        <button type="submit" class="btn btn-primary" id="save-btn" disabled>Save</button> 
        <button type="button" class="btn btn-primary" id="edit-btn" onclick="toggleEditMode()">Edit</button>
        <button type="button" class="btn btn-secondary" id="delete-btn" 
        onclick="deleteItem($('#id-metadata').text(), $('#item-type-metadata').text())">
            Delete
        </button>
    </form> 
</div>

<script src="/static/dropdown.js"></script>