<!-- Create subfolder Popup -->
<div class="popup-content hidden-popup" id="create-subfolder-popup">
    <button class="close-popup">&times;</button>
    <br />
    <h6>Create a new sub-folder (under <span id="document-title"></span>)</h6>
    <form action="/files/folder/create/{document-id}" method="POST" id="popup-form">
        <label for="title">Folder Name:</label>
        <input type="text" id="title" name="title" required />
        <button type="submit" class="btn btn-primary">Create</button>
    </form>
</div>

<!-- Rename Popup -->
<div class="popup-content hidden-popup" id="rename-popup">
    <button class="close-popup">&times;</button>
    <br />
    <h6>Rename <span id="document-title"></span> to:</h6>
    <form action="/files/doc/update/{document-id}" method="POST" id="popup-form">
        <input type="text" id="title" name="title" required />
        <button type="submit" class="btn btn-primary">Rename</button>
    </form>
</div>

<!-- Delete folder Popup -->
<div class="popup-content hidden-popup" id="delete-folder-popup">
    <button class="close-popup">&times;</button>
    <br />
    <h6>Do you want to delete folder <span id="document-title"></span>?</h6>
    <form action="/files/folder/delete/{document-id}" method="POST" id="popup-form" style="display: inline-block;">
        <button type="submit" class="btn btn-primary">Confirm</button>
    </form>
    <button class="btn btn-secondary" onclick="cancelPopup()">Cancel</button>
</div>

<!-- Upload Popup -->
<div class="popup-content hidden-popup" id="upload-popup">
    <button class="close-popup">&times;</button>
    <br />
    <h6>Upload to <span id="document-title"></span>?</h6>
    <form action="/files/doc/upload/{document-id}" enctype="multipart/form-data" method="POST" id="popup-form">
        <input type="file" name="content" multiple/>
        <button type="submit" class="btn btn-primary">Upload</button>
    </form>
</div>

<!-- Delete document Popup -->
<div class="popup-content hidden-popup" id="delete-document-popup">
    <button class="close-popup">&times;</button>
    <br />
    <h6>Do you want to delete document <span id="document-title"></span>?</h6>
    <form action="/files/document/delete/{document-id}" method="POST" id="popup-form" style="display: inline-block;">
        <button type="submit" class="btn btn-primary">Confirm</button>
    </form>
    <button class="btn btn-secondary" onclick="cancelPopup()">Cancel</button>
</div>

<!-- Reindex Popup -->
<div class="popup-content hidden-popup" id="reindex-popup">
    <button class="close-popup">&times;</button>
    <br />
    <h6>Reindex <span id="document-title"></span>?</h6>
    <form action="/index/doc/{document-id}" method="POST" id="popup-form" style="display: inline-block;">
        <button type="submit" class="btn btn-primary">Reindex</button>
    </form>
    <button class="btn btn-secondary" onclick="cancelPopup()">Cancel</button>
</div>