{% extends "base.html" %}
{% block title %}Files{% endblock %}

{%block content%}
<br />
<h1>Filesystem Explorer</h1>
<div id="browser-tree">
    {{seethru | safe}}
    {{browser_tree | safe}}
</div>

<div id="asset-view">
    {{asset_view | safe}}
</div>

{{popup | safe}}
{{detail_popup | safe}}

{{rightclick_menu | safe}}

<div class="blur-bg hidden-blur"></div>

<script src="/static/popup.js"></script>
<script src="/static/dropdown.js"></script>
<script src="/static/itemViewer.js"></script>
{%endblock%}