{% extends "base.html" %}
{% block title %}Files{% endblock %}

{%block content%}
<br />
<h1>Filesystem Explorer</h1>
<div id="browser-tree">
    {{browser_tree | safe}}
</div>

<!-- Create subfolder Popup -->
<div class="popup-content hidden-popup">
    <button class="close-popup">&times;</button>
    <br/>
    <h6>Create a new sub-folder (under <span id="document-title"></span>)</h6>
    <form action="/files/{document-id}" method="POST" id="popup-form">
        <label for="title">Folder Name:</label>
        <input type="text" id="title" name="title" required/>
        <button type="submit" class="btn btn-primary">Create</button>
    </form>
</div> 

<!-- Rightclick menu -->
<div class="rightclick-wrapper">
    <div class="rightclick-content">
        <ul class="rightclick-menu">
            <li class="rightclick-item open-popup">
                <i class="fa fa-plus"></i>
                <span>Create new subfolder</span>
            </li>
            <li class="rightclick-item">
                <i class="fa fa-minus"></i><span>Delete folder</span>
            </li>
        </ul>
    </div>
</div>

<div class="blur-bg hidden-blur"></div>

<script src="static/popup.js"></script>
<script src="static/rightclick-menu.js"></script>
{%endblock%}