<!-- Folder rightclick menu -->
<div class="rightclick-wrapper" id="rightclick-folder">
    <div class="rightclick-content">
        <ul class="rightclick-menu">
            <li class="rightclick-item open-popup" popup-id="create-subfolder-popup">
                <i class="fa fa-plus"></i>
                <span>Create new subfolder</span>
            </li>
            <li class="rightclick-item open-popup" popup-id="rename-popup">
                <i class="fa fa-pencil"></i>
                <span>Rename</span>
            </li>
            <li class="rightclick-item open-popup" popup-id="delete-folder-popup">
                <i class="fa fa-times"></i>
                <span>Delete</span>
            </li>
            <li class="rightclick-item open-popup" popup-id="upload-popup">
                <i class="fa fa-upload"></i>
                <span>Upload</span>
            </li>
            <li class="rightclick-item open-popup" popup-id="reindex-popup">
                <i class="fa fa-sitemap"></i>
                <span>Reindex</span>
            </li>
        </ul>
    </div>
</div>

<!-- Document rightclick menu -->
<div class="rightclick-wrapper" id="rightclick-document">
    <div class="rightclick-content">
        <ul class="rightclick-menu">
            <li class="rightclick-item open-popup" popup-id="detail-popup">
                <i class="fa fa-pencil-square"></i>
                <span>Detail</span>
            </li>
            <li class="rightclick-item open-popup" popup-id="rename-popup">
                <i class="fa fa-pencil"></i>
                <span>Rename</span>
            </li>
            <li class="rightclick-item open-popup" popup-id="delete-document-popup">
                <i class="fa fa-times"></i>
                <span>Delete</span>
            </li>
            <li class="rightclick-item open-popup" popup-id="reindex-popup">
                <i class="fa fa-sitemap"></i>
                <span>Reindex</span>
            </li>
        </ul>
    </div>
</div>