<!-- Rightclick menu -->
<div class="rightclick-wrapper">
    <div class="rightclick-content">
        <ul class="rightclick-menu">
            <li class="rightclick-item open-popup" popup-id="create-subfolder-popup">
                <i class="fa fa-plus"></i>
                <span>Create new subfolder</span>
            </li>
            <li class="rightclick-item open-popup" popup-id="delete-folder-popup">
                <i class="fa fa-minus"></i>
                <span>Delete folder</span>
            </li>
            <li class="rightclick-item open-popup" popup-id="upload-popup">
                <i class="fa fa-upload"></i>
                <span>Upload</span>
            </li>
        </ul>
    </div>
</div>