{% extends "base.html" %}
{% block title %}Icarus{% endblock %}

{%block content%}
<br />
<h1>Icarus</h1>
<br/>

<br />
<h2>Stable Diffusion</h2>
<br/>

<p>On July 2023, Stability AI released Stable Diffusion XL 1.0 (SDXL), its next-generation open weights AI image synthesis model. It can generate novel images from text descriptions and produces more detail and higher-resolution imagery than previous versions of Stable Diffusion.</p>
<p>Source code is available at <a target="_blank" rel="noopener nofollow" href="https://github.com/Stability-AI/generative-models">https://github.com/Stability-AI/generative-models</a> .</p>
<br>

{% if error %}
    <p style="color: red;">{{ error }}</p>
{% endif %}

<form class="icarus-gen" icarus-app="Diffusion" method="post" enctype="multipart/form-data" id="image-form">
    <label for="image-desc">Describe your image:</label>
    <input type="textarea" name="image-desc" placeholder="image-desc" size="50" id="text-input" required>

    <button type="submit" class="btn btn-primary">Compute</button>
</form>

<br>

<div id="gen-results"></div>

<script src="/static/icarus.js"></script>

{%endblock%}